name: Checkout Example

on: 
  push: 
    branches: 
      - main 

jobs:
  build: 
   runs-on: ubuntu-latest

   steps: 
     - name: Checkout Example
       uses: actions/checkout@v5.0.1
     - name: verification
       run: ls -alhR
