name: Build Example

on: 
  push: 
    branches: 
      - main 

jobs:
  installing_dependencies: 
   runs-on: ubuntu-latest

   steps: 
     - name: Checkout Example
       uses: actions/checkout@v5.0.1


     - name: Setup Node.js environment
       uses: actions/setup-node@v6.0.0

     - name: installing node.js dependencies
       run: npm install

     - name: Bundle project into ZIP
       run: zip -r app.zip ./

     - name: verification
       run: ls -alhR     
     - name: testing
       run: npm ci
     - run: npm run build --if-present
     - run: npm test
